<%= form_for(logbook_entry) do |f| %>
  <% if logbook_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(logbook_entry.errors.count, "error") %> prohibited this logbook_entry from being saved:</h2>

      <ul>
      <% logbook_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :logbook_page_id %>
    <%= f.text_field :logbook_page_id %>
  </div>

  <div class="field">
    <%= f.label :day_minutes %>
    <%= f.number_field :day_minutes %>
  </div>

  <div class="field">
    <%= f.label :night_minutes %>
    <%= f.number_field :night_minutes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
