<p id="notice"><%= notice %></p>

<p>
  <strong>Logbook:</strong>
  <%= @logbook_page.logbook.name %>
</p>

<p>
  <strong>Page number:</strong>
  <%= @logbook_page.page_number %>
</p>

<table>
  <thead>
	<tr>
	  <th colspan="4">Day</th>
	  <th colspan="4">Night</th>
	</tr>
    <tr>
      <th>Start</th>
	  <th>End</th>
      <th>Hours</th>
	  <th>Mins</th>
      <th>Start</th>
	  <th>End</th>
      <th>Hours</th>
	  <th>Mins</th>
    </tr>
  </thead>

  <tbody>
    <% @logbook_page.logbook_entries.order(:id).each do |logbook| %>
      <tr>
        <td><%= logbook.day_start_time.strftime("%I:%M %p") %></td>
        <td><%= logbook.day_end_time.strftime("%I:%M %p") %></td>
        <td><%= logbook.day_hours %></td>
        <td><%= logbook.day_minutes %></td>
        <td><%= logbook.night_start_time.strftime("%I:%M %p") %></td>
        <td><%= logbook.night_end_time.strftime("%I:%M %p") %></td>
        <td><%= logbook.night_hours %></td>
        <td><%= logbook.night_minutes %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_logbook_logbook_page_path(@logbook, @logbook_page) %> |
<%= link_to 'Logbook Pages', logbook_logbook_pages_path(@logbook) %>
