<%= form_for(logbook) do |f| %>
  <% if logbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(logbook.errors.count, "error") %> prohibited this logbook from being saved:</h2>

      <ul>
      <% logbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label      :start_day_hours %>
    <%= f.number_field :start_day_hours %>
  </div>
  <div class="field">
    <%= f.label      :start_day_minutes %>
    <%= f.number_field :start_day_minutes %>
  </div>
  <div class="field">
    <%= f.label      :start_night_hours %>
    <%= f.number_field :start_night_hours %>
  </div>
  <div class="field">
    <%= f.label      :start_night_minutes %>
    <%= f.number_field :start_night_minutes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
